<ul class="care-nav">
    <li class="care-item">
        <a href="#" class="care-btn">Veterinarian</a>
    </li><!-- close care-item -->
    <li class="care-item">
        <a href="#" class="care-btn">Grooming</a>
    </li><!-- close care-item -->
    <li class="care-item">
        <a href="#" class="care-btn">Boarding</a>
    </li><!-- close care-item -->
    <li class="care-item">
        <a href="#" class="care-btn">Caregivers</a>
    </li><!-- close care-item -->
</ul><!-- close care-nav -->

<!-- BEGIN VET INFO CONTENT AREA (this area will be its own component in the future) -->

<div class="container-10">
    <div class="row">
        <div class="medium-4 columns">
            <p class="soft-title">Clinic</p>
            <p class="content">FMA Animal Hospital</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <p class="soft-title">Preferred Vet</p>
            <p class="content">Dr. Ron Bachman</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <p class="soft-title">Phone</p>
            <p class="content">(913) 262-1600</p>
        </div><!-- close div medium-4 columns -->
    </div><!-- close div row -->
    <div class="spacer-25"></div><!-- close div spacer-25 -->
    <div class="row">
        <div class="medium-4 columns">
            <p class="soft-title">Address</p>
            <p class="content">4755 Rainbow Blvd<br />Westwood, KS 66205</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <p class="soft-title">Hours</p>
            <div class="container-10">
                <div class="row">
                    <div class="medium-3 columns">
                        <p class="content">Mon</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-9 columns">
                        <p class="content">7:00<sup>AM</sup> - 7:00<sup>PM</sup></p>
                    </div><!-- close div medium-9 columns -->
                    <div class="medium-3 columns">
                        <p class="content">Tue</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-9 columns">
                        <p class="content">7:00<sup>AM</sup> - 7:00<sup>PM</sup></p>
                    </div><!-- close div medium-9 columns -->
                    <div class="medium-3 columns">
                        <p class="content">Wed</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-9 columns">
                        <p class="content">7:00<sup>AM</sup> - 7:00<sup>PM</sup></p>
                    </div><!-- close div medium-9 columns -->
                    <div class="medium-3 columns">
                        <p class="content">Thu</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-9 columns">
                        <p class="content">7:00<sup>AM</sup> - 7:00<sup>PM</sup></p>
                    </div><!-- close div medium-9 columns -->
                    <div class="medium-3 columns">
                        <p class="content">Fri</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-9 columns">
                        <p class="content">7:00<sup>AM</sup> - 7:00<sup>PM</sup></p>
                    </div><!-- close div medium-9 columns -->
                    <div class="medium-3 columns">
                        <p class="content">Sat</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-9 columns">
                        <p class="content">8:00<sup>AM</sup> - 5:00<sup>PM</sup></p>
                    </div><!-- close div medium-9 columns -->
                    <div class="medium-3 columns">
                        <p class="content">Sun</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-9 columns">
                        <p class="content">Closed</p>
                    </div><!-- close div medium-9 columns -->
                </div><!-- close div row -->
            </div><!-- close div container-10 -->
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <div class="spacer-10"></div><!-- close div spacer-10 -->
            <a href="#">
                <div class="grey-btn">
                    <p class="btn-text-grey">Vist Website</p>
                </div><!-- close div grey-btn -->
            </a>
            <div class="spacer-10"></div><!-- close div spacer-10 -->
            <a (click)="openDialog()">
                <div class="green-btn">
                    <p class="btn-text-green">Book Now</p>
                </div><!-- close div green-btn -->
            </a>
        </div><!-- close div medium-4 columns -->
    </div><!-- close div row -->
</div><!-- close div container-10 -->
<div class="spacer-25"></div><!-- close div spacer-25 -->

<!-- END VET INFO CONTENT AREA -->
