<div class="container-10">
    <div class="row">
        <div class="medium-12 columns">
            <img style="padding-right: 15px;" src="../../../assets/img/pet-picture.png" />
            <p class="hard-title">Aurora</p>
        </div><!-- close div medium-12 columns -->
    </div><!-- close div row -->
    <div class="spacer-25"></div><!-- close div spacer-25 -->
    <div class="row">
        <div class="medium-4 columns">
            <p class="soft-title">Breed</p>
            <p class="content">German Shepherd Mix</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <p class="soft-title">Age</p>
            <p class="content">3 years 6 months</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <p class="soft-title">Gender</p>
            <p class="content">Female</p>
        </div><!-- close div medium-4 columns -->
    </div><!-- close div row -->
    <div class="spacer-10"></div><!-- close div spacer-10 -->
    <div class="row">
        <div class="medium-4 columns">
            <p class="soft-title">Color</p>
            <p class="content">Black/Brown</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <p class="soft-title">Temperment</p>
            <p class="content">Calm</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <p class="soft-title">City License</p>
            <p class="content">Good Standing</p>
        </div><!-- close div medium-4 columns -->
    </div><!-- close div row -->
    <div class="spacer-10"></div><!-- close div spacer-10 -->
    <div class="row">
        <div class="medium-4 columns">
            <p class="soft-title">Microchip ID</p>
            <p class="content">n/a</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <p class="soft-title">Insurance</p>
            <p class="content">No</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-4 columns">
            <p class="soft-title">Preventatives</p>
            <p class="content">Up to date</p>
        </div><!-- close div medium-4 columns -->
    </div><!-- close div row -->
    <div class="spacer-10"></div><!-- close div spacer-10 -->
        <div class="row">
            <div class="medium-12 columns">
                <p class="soft-title">Notes</p>
                <p class="content">No notes have been made...</p>
            </div><!-- close div medium-12 columns -->
        </div><!-- close div row -->
</div><!-- close div container-10 -->
