<ul class="care-nav">
    <li class="care-item">
        <a href="#" class="care-btn">Exercise</a>
    </li><!-- close care-item -->
    <li class="care-item">
        <a href="#" class="care-btn">Nutrition</a>
    </li><!-- close care-item -->
    <li class="care-item">
        <a href="#" class="care-btn">Hydration</a>
    </li><!-- close care-item -->
</ul><!-- close care-nav -->

<!-- BEGIN CONTENT AREA -->

<div class="container-10">
    <div class="row">
        <div class="medium-5 columns">
            <p class="soft-title">Where?</p>
        </div><!-- close div medium-5 columns -->
        <div class="medium-7 columns">
            <p class="soft-title">Date/Time</p>
        </div><!-- close div medium-7 columns -->
    </div><!-- close div row -->
    <hr />
    <div class="row">
        <div class="medium-5 columns">
            <p class="content">Take Aurora on a Walk</p>
        </div><!-- close div medium-5 columns -->
        <div class="medium-7 columns">
            <p class="content" style="display: inline-block;">June 20, 2017 7:00 <sup>pm</sup></p>
            <ul class="reminder-nav">
                <li class="r-nav-item"><a href="#"><div class="done"></div></a></li>
                <li class="r-nav-item"><a href="#"><div class="trash"></div></a></li>
                <li class="r-nav-item"><a href="#"><div class="menus"></div></a></li>
            </ul><!-- close ul reminder-nav -->
        </div><!-- close div medium-7 columns -->
    </div><!-- close div row -->
    <hr />
</div><!-- close div container-10 -->


<!-- END CONTENT AREA -->
