<ul class="care-nav">
    <li class="care-item">
        <a href="#" class="care-btn">Allergies</a>
    </li><!-- close care-item -->
    <li class="care-item">
        <a href="#" class="care-btn">Conditions</a>
    </li><!-- close care-item -->
    <li class="care-item">
        <a href="#" class="care-btn">Medications</a>
    </li><!-- close care-item -->
    <li class="care-item">
        <a href="#" class="care-btn">Vaccines</a>
    </li><!-- close care-item -->
</ul><!-- close care-nav -->

<!-- BEGIN MEDICAL HISTORY CONTENT AREA -->

<div class="container-10">
    <div class="row">
        <div class="medium-4 columns">
            <p class="soft-title">Allergen</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-3 columns">
            <p class="soft-title">Reaction</p>
        </div><!-- close div medium-3 columns -->
        <div class="medium-5 columns">
            <p class="soft-title">On-set</p>
        </div><!-- close div medium-5 columns -->
    </div><!-- close div row -->
    <hr />
    <div class="row">
        <div class="medium-4 columns">
            <p class="content">Dairy</p>
        </div><!-- close div medium-4 columns -->
        <div class="medium-3 columns">
            <p class="content">Severe</p>
        </div><!-- close div medium-3 columns -->
        <div class="medium-5 columns">
            <p class="content" style="display: inline-block;">June 20, 2017</p>
            <ul class="reminder-nav">
                <li class="r-nav-item"><a href="#"><div class="doc"></div></a></li>
                <li class="r-nav-item"><a href="#"><div class="trash"></div></a></li>
                <li class="r-nav-item"><a href="#"><div class="menus"></div></a></li>
            </ul><!-- close ul reminder-nav -->
        </div><!-- close div medium-5 columns -->
    </div><!-- close div row -->
    <hr />
</div><!-- close div container-10 -->


<!-- END MEDICAL HISTORY CONTENT AREA -->
