<div class="container-10">
    <div class="row">
        <div class="medium-5 columns">
            <p class="soft-title">Reminder</p>
        </div><!-- close div medium-5 columns -->
        <div class="medium-7 columns">
            <p class="soft-title">Date/Time</p>
        </div><!-- close div medium-7 columns -->
    </div><!-- close div row -->
    <hr />
    <div class="row">
        <div class="medium-5 columns">
            <p class="content">Feed Aurora Dinner</p>
        </div><!-- close div medium-5 columns -->
        <div class="medium-7 columns">
            <p class="content" style="display: inline-block;">June 20, 2017 at 7:30 pm</p>
            <ul class="reminder-nav">
                <li class="r-nav-item"><a href="#"><div class="done"></div></a></li>
                <li class="r-nav-item"><a href="#"><div class="trash"></div></a></li>
                <li class="r-nav-item"><a href="#"><div class="menus"></div></a></li>
            </ul><!-- close ul reminder-nav -->
        </div><!-- close div medium-7 columns -->
    </div><!-- close div row -->
    <hr />
</div><!-- close div container-10 -->
