<div class="row">
    <div class="medium-6 columns size-controller">
        <div class="box-title">
            <p class="soft-title-big" style="display: inline-block;">Activity Feed</p>
        </div><!-- close div box-title -->
        <div class="white-box-2-container">
            <div class="white-box-2">
                <ul class="care-nav">
                    <li id="exercise2btn" class="care-item" style="border-color: #6ab37d;">
                        <a onclick="showExercise2();" class="care-btn">Exercise</a>
                    </li><!-- close care-item -->
                    <li id="nutrition2btn" class="care-item">
                        <a onclick="showNutrition2();" class="care-btn">Nutrition</a>
                    </li><!-- close care-item -->
                    <li id="hydration2btn" class="care-item">
                        <a onclick="showHydration2();" class="care-btn">Hydration</a>
                    </li><!-- close care-item -->
                </ul><!-- close care-nav -->

                <!-- BEGIN CONTENT AREA -->

                <!-- BEGIN EXERCISE TAB -->

                <div id="exercise2">
                <div class="container-10">
                    <div class="area-contain">
                    <div class="row">
                        <div class="medium-5 columns">
                            <p class="soft-title">Where?</p>
                        </div><!-- close div medium-5 columns -->
                        <div class="medium-7 columns">
                            <p class="soft-title">Date/Time</p>
                        </div><!-- close div medium-7 columns -->
                    </div><!-- close div row -->
                </div><!-- close div area-contain -->
                    <hr />
                    <div class="row">
                        <div class="medium-5 columns">
                            <p class="content">Take Aurora on a Walk</p>
                        </div><!-- close div medium-5 columns -->
                        <div class="medium-7 columns">
                            <p class="content" style="display: inline-block;">June 20, 2017 7:00 <sup>pm</sup></p>
                            <ul class="reminder-nav">
                                <li class="r-nav-item"><a href="#"><div class="done"></div></a></li>
                                <li class="r-nav-item"><a href="#"><div class="trash"></div></a></li>
                                <li class="r-nav-item"><a href="#"><div class="menus"></div></a></li>
                            </ul><!-- close ul reminder-nav -->
                        </div><!-- close div medium-7 columns -->
                    </div><!-- close div row -->
                    <hr />
                </div><!-- close div container-10 -->
            </div><!-- close div #exercise -->

                <!-- END EXERCISE TAB -->
                <!-- BEGIN NUTRITON TAB -->

                <div id="nutrition2" style="display: none;">
                <div class="container-10">
                    <div class="area-contain">
                    <div class="row">
                        <div class="medium-5 columns">
                            <p class="soft-title">Where?</p>
                        </div><!-- close div medium-5 columns -->
                        <div class="medium-7 columns">
                            <p class="soft-title">Date/Time</p>
                        </div><!-- close div medium-7 columns -->
                    </div><!-- close div row -->
                </div><!-- close div area-contain -->
                    <hr />
                    <div class="row">
                        <div class="medium-5 columns">
                            <p class="content">Fill Aurora's food bowl</p>
                        </div><!-- close div medium-5 columns -->
                        <div class="medium-7 columns">
                            <p class="content" style="display: inline-block;">June 20, 2017 7:00 <sup>pm</sup></p>
                            <ul class="reminder-nav">
                                <li class="r-nav-item"><a href="#"><div class="done"></div></a></li>
                                <li class="r-nav-item"><a href="#"><div class="trash"></div></a></li>
                                <li class="r-nav-item"><a href="#"><div class="menus"></div></a></li>
                            </ul><!-- close ul reminder-nav -->
                        </div><!-- close div medium-7 columns -->
                    </div><!-- close div row -->
                    <hr />
                </div><!-- close div container-10 -->
            </div><!-- close div #nutrition -->

                <!-- END NUTRITON TAB -->
                <!-- BEGIN HYDRATION TAB -->

                <div id="hydration2" style="display: none;">
                <div class="container-10">
                    <div class="area-contain">
                    <div class="row">
                        <div class="medium-5 columns">
                            <p class="soft-title">Where?</p>
                        </div><!-- close div medium-5 columns -->
                        <div class="medium-7 columns">
                            <p class="soft-title">Date/Time</p>
                        </div><!-- close div medium-7 columns -->
                    </div><!-- close div row -->
                </div><!-- close div area-contain -->
                    <hr />
                    <div class="row">
                        <div class="medium-5 columns">
                            <p class="content">Fill Aurora's water bowl</p>
                        </div><!-- close div medium-5 columns -->
                        <div class="medium-7 columns">
                            <p class="content" style="display: inline-block;">June 20, 2017 7:00 <sup>pm</sup></p>
                            <ul class="reminder-nav">
                                <li class="r-nav-item"><a href="#"><div class="done"></div></a></li>
                                <li class="r-nav-item"><a href="#"><div class="trash"></div></a></li>
                                <li class="r-nav-item"><a href="#"><div class="menus"></div></a></li>
                            </ul><!-- close ul reminder-nav -->
                        </div><!-- close div medium-7 columns -->
                    </div><!-- close div row -->
                    <hr />
                </div><!-- close div container-10 -->
            </div><!-- close div #hydration -->

            <!-- END EXERCISE TAB -->


                <!-- END CONTENT AREA -->

            </div><!-- close div white-box-2 -->
            <div class="care-bottom">
                <hr />
                <p class="emergency"><a style="color: inherit;" href="#">View More<i class="fa fa-angle-right" style="padding-left: 10px;" aria-hidden="true"></i></a>
                <div class="spacer-10"></div><!-- close div spacer-10 -->
            </div>
        </div><!-- close div white-box-2-container -->
    </div><!-- close div medium-6 columns -->
    <div class="medium-6 columns size-controller">
        <div class="box-title">
            <p class="soft-title-big">What's Nearby?<a class="edit-title" onclick="showPetinfo();">Add</a></p>
        </div><!-- close div box-title -->
        <div class="white-box-2-container">
            <div class="white-box-2">
                <ul class="care-nav">
                    <li id="parkbtn" class="care-item" style="border-color: #6ab37d;">
                        <a onclick="showParks();" class="care-btn">Parks</a>
                    </li><!-- close care-item -->
                    <li id="eventsbtn" class="care-item">
                        <a onclick="showEvents();" class="care-btn">Events</a>
                    </li><!-- close care-item -->
                    <li id="businessbtn" class="care-item">
                        <a onclick="showBusiness();" class="care-btn">Businesses</a>
                    </li><!-- close care-item -->
                </ul><!-- close care-nav -->

                <!-- BEGIN NEARBY CONTENT AREA -->
                <!-- BEGIN PARK TAB -->

                <div id="park">
                <div class="container-10">
                    <div class="area-contain">
                    <div class="row">
                        <div class="medium-4 columns">
                            <p class="soft-title">Location</p>
                        </div><!-- close div medium-4 columns -->
                        <div class="medium-3 columns">
                            <p class="soft-title">Park Type</p>
                        </div><!-- close div medium-3 columns -->
                        <div class="medium-5 columns">
                            <p class="soft-title">Rating</p>
                        </div><!-- close div medium-5 columns -->
                    </div><!-- close div row -->
                    </div><!-- close div area-contain -->
                    <hr />
                    <div class="row">
                        <div class="medium-4 columns">
                            <p class="content">1111 N. park way</p>
                        </div><!-- close div medium-4 columns -->
                        <div class="medium-3 columns">
                            <p class="content">Dog Park</p>
                        </div><!-- close div medium-3 columns -->
                        <div class="medium-5 columns">
                            <p class="content" style="display: inline-block;"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></p>
                            <ul class="reminder-nav">
                                <li class="r-nav-item"><a href="#"><div class="doc"></div></a></li>
                                <li class="r-nav-item"><a href="#"><div class="trash"></div></a></li>
                                <li class="r-nav-item"><a href="#"><div class="menus"></div></a></li>
                            </ul><!-- close ul reminder-nav -->
                        </div><!-- close div medium-5 columns -->
                    </div><!-- close div row -->
                    <hr />
                </div><!-- close div container-10 -->
            </div><!-- close div #park -->

            <!-- END PARK TAB -->
            <!-- BEGIN Events TAB -->

            <div id="events" style="display: none;">
            <div class="container-10">
                <div class="area-contain">
                <div class="row">
                    <div class="medium-4 columns">
                        <p class="soft-title">Location</p>
                    </div><!-- close div medium-4 columns -->
                    <div class="medium-3 columns">
                        <p class="soft-title">Event Type</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-5 columns">
                        <p class="soft-title">Rating</p>
                    </div><!-- close div medium-5 columns -->
                </div><!-- close div row -->
                </div><!-- close div area-contain -->
                <hr />
                <div class="row">
                    <div class="medium-4 columns">
                        <p class="content">1111 N. event way</p>
                    </div><!-- close div medium-4 columns -->
                    <div class="medium-3 columns">
                        <p class="content">Dog Event</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-5 columns">
                        <p class="content" style="display: inline-block;"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></p>
                        <ul class="reminder-nav">
                            <li class="r-nav-item"><a href="#"><div class="doc"></div></a></li>
                            <li class="r-nav-item"><a href="#"><div class="trash"></div></a></li>
                            <li class="r-nav-item"><a href="#"><div class="menus"></div></a></li>
                        </ul><!-- close ul reminder-nav -->
                    </div><!-- close div medium-5 columns -->
                </div><!-- close div row -->
                <hr />
            </div><!-- close div container-10 -->
        </div><!-- close div #event -->

        <!-- END EVENT TAB -->
        <!-- BEGIN BUSINESS TAB -->

        <div id="business" style="display: none;">
        <div class="container-10">
            <div class="area-contain">
            <div class="row">
                <div class="medium-4 columns">
                    <p class="soft-title">Location</p>
                </div><!-- close div medium-4 columns -->
                <div class="medium-3 columns">
                    <p class="soft-title">Business Type</p>
                </div><!-- close div medium-3 columns -->
                <div class="medium-5 columns">
                    <p class="soft-title">Rating</p>
                </div><!-- close div medium-5 columns -->
            </div><!-- close div row -->
            </div><!-- close div area-contain -->
            <hr />
            <div class="row">
                <div class="medium-4 columns">
                    <p class="content">1111 N. business way</p>
                </div><!-- close div medium-4 columns -->
                <div class="medium-3 columns">
                    <p class="content">Business</p>
                </div><!-- close div medium-3 columns -->
                <div class="medium-5 columns">
                    <p class="content" style="display: inline-block;"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></p>
                    <ul class="reminder-nav">
                        <li class="r-nav-item"><a href="#"><div class="doc"></div></a></li>
                        <li class="r-nav-item"><a href="#"><div class="trash"></div></a></li>
                        <li class="r-nav-item"><a href="#"><div class="menus"></div></a></li>
                    </ul><!-- close ul reminder-nav -->
                </div><!-- close div medium-5 columns -->
            </div><!-- close div row -->
            <hr />
        </div><!-- close div container-10 -->
    </div><!-- close div #business -->

    <!-- END BUSINESS TAB -->


                <!-- END NEARBY CONTENT AREA -->

            </div><!-- close div white-box-2 -->
            <div class="care-bottom">
                <hr />
                <p class="emergency"><a style="color: inherit;" href="#">View More<i class="fa fa-angle-right" style="padding-left: 10px;" aria-hidden="true"></i></a>
                <div class="spacer-10"></div><!-- close div spacer-10 -->
            </div>
        </div><!-- close div white-box-2-container -->
    </div><!-- close div medium-6 columns -->
</div><!-- close div row -->
<div class="spacer-10"></div><!-- close div spacer-10 -->
