<div class="container-10">
    <div class="side-tabs">
        <p class="hard-title">Auroras Info</p>
        <div class="spacer-25"></div><!-- close div spacer-25 -->
        <ul class="vert-tabs">
            <li class="vert-tabs-item content"><a href="#gen">General</a></li>
            <li class="vert-tabs-item content"><a href="#heal">Health</a></li>
            <li class="vert-tabs-item content"><a href="#licensing">Licensing</a></li>
            <li class="vert-tabs-item content"><a href="#parents">Parents</a></li>
            <li class="vert-tabs-item content"><a href="#additional">Additional</a></li>
            <li class="vert-tabs-item content"><a href="#sharing">Sharing</a></li>
        </ul><!-- close ul class vert-tabs -->
    </div><!-- close div side-tabs -->
    <div class="main-content">
        <div class="head-area" id="gen">
            <p class="hard-title">General</p>
        </div><!-- close div head-area -->
            <div class="spacer-25"></div><!-- close div spacer-25 -->
            <div class="form-line">
                <p class="content-inline">Name</p>
                <input class="select-box-alt" placeholder="First Name" />
                <input class="select-box-alt" placeholder="Last Name (optional)" />
            </div><!-- close div form-line -->
            <div class="form-line">
                <p class="content-inline">Birthday</p>
                <input class="date-box-alt" type="date" />
            </div><!-- close div form-line -->
            <div class="form-line">
                <p class="content-inline">Gender</p>
                <select class="select-box-alt">
                    <option value="" selected disabled>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div><!-- close div form-line -->
            <div class="form-line">
                <div class="spacer-10"></div><!-- close div spacer-10 -->
                <div class="spacer-10"></div><!-- close div spacer-10 -->
                <p class="content-inline" style="padding-top: 20px !important; display: inline-block !important;">Image</p>
                <input class="inputfile inline-btn" type="file" name="file" id="file" /><label for="file">Upload</label>
            </div><!-- close div form-line -->
            <div class="form-line">
                <p class="content-inline">Species</p>
                <select class="select-box-alt">
                    <option value="" selected disabled>Species</option>
                    <option value="Labrador Retriever">Labrador Retriever</option>
                    <option value="Beagle">Beagle</option>
                    <option value="Pug">Pug</option>
                </select>
                <br />
                <p class="content-inline">Breed</p>
                <select class="select-box-alt">
                    <option value="" selected disabled>Breed</option>
                    <option value="Labrador Retriever">Labrador Retriever</option>
                    <option value="Beagle">Beagle</option>
                    <option value="Pug">Pug</option>
                </select>
                <br />
                <p class="content-inline">Color(s)</p>
                <select class="select-box-alt">
                    <option value="" selected disabled>Color(s)</option>
                    <option value="tan">Tan</option>
                    <option value="black">Black</option>
                    <option value="white">White</option>
                </select>
            </div><!-- close div form-line -->
            <div class="form-line">
                <p class="content-inline">Microchip</p>
                <select class="select-box-alt">
                    <option value="" selected disabled>Select Manufacturer</option>
                    <option value="option 1">Option 1</option>
                    <option value="option 2">Option 2</option>
                </select>
                <br />
                <input class="select-box-alt" placeholder="Microchip ID" />
            </div><!-- close div form-line -->
            <div class="spacer-50"></div><!-- close div spacer-50 -->
            <div class="head-area" id="heal">
                <p class="hard-title">Health</p>
            </div><!-- close div head-area -->
            <div class="spacer-25"></div><!-- close div spacer-25 -->
            <div class="form-line">
                <p class="content-inline">Flea Preventative</p>
                <select class="select-box-alt" style="width: 280px !important;">
                    <option value="" selected disabled>Select Manufacturer</option>
                    <option value="option 1">Option 1</option>
                    <option value="option 2">Option 2</option>
                </select>
                <select class="select-box-alt" style="width: 280px !important;">
                    <option value="" selected disabled>Select Brand</option>
                    <option value="option 1">Option 1</option>
                    <option value="option 2">Option 2</option>
                </select>
                <br />
                <p class="content-inline">Tick Preventative</p>
                <select class="select-box-alt" style="width: 280px !important;">
                    <option value="" selected disabled>Select Manufacturer</option>
                    <option value="option 1">Option 1</option>
                    <option value="option 2">Option 2</option>
                </select>
                <br />
                <p class="content-inline">Heartworm Preventative</p>
                <select class="select-box-alt" style="width: 280px !important;">
                    <option value="" selected disabled>Select Manufacturer</option>
                    <option value="option 1">Option 1</option>
                    <option value="option 2">Option 2</option>
                </select>
            </div><!-- close div form-line -->
            <div class="form-line">
                <p class="content-inline">Insurance</p>
                <select class="select-box-alt">
                    <option value="" selected disabled>Select Carrier</option>
                    <option value="option 1">Option 1</option>
                    <option value="option 2">Option 2</option>
                </select>
                <br />
                <input class="select-box-alt" placeholder="Policy number" />
            </div><!-- close div form-line -->
            <div class="form-line">
                <p class="content-inline add-title">Diet</p>
                <a class="add-food add-btns">ADD FOOD</a>
            </div><!-- close div form-line -->
            <div class="spacer-50"></div><!-- close div spacer-50 -->
            <div class="head-area" id="licensing">
                <p class="hard-title">Licensing</p>
            </div><!-- close div head-area -->
            <div class="spacer-25"></div><!-- close div spacer-25 -->
            <div class="form-line">
                <p class="content-inline add-title">City License</p>
                <a class="add-license add-btns">ADD LICENSE</a>
            </div><!-- close div form-line -->
            <div class="spacer-50"></div><!-- close div spacer-50 -->
            <div class="head-area" id="parents">
                <p class="hard-title">Parents</p>
            </div><!-- close div head-area -->
            <div class="spacer-25"></div><!-- close div spacer-25 -->
            <div class="form-line">
                <p class="content-inline add-title">Parents</p>
                <a class="add-parent add-btns">ADD PARENTS</a>
            </div><!-- close div form-line -->
            <div class="spacer-50"></div><!-- close div spacer-50 -->
            <div class="head-area" id="additional">
                <p class="hard-title">Additional</p>
            </div><!-- close div head-area -->
            <div class="spacer-25"></div><!-- close div spacer-25 -->
            <div class="form-line">
                <p class="content-inline add-title">Temperament</p>
                <a class="add-temperament add-btns">ADD TEMPERAMENT</a>
                <br />
                <p class="content-inline">Caretaking Instructions</p>
                <textarea class="textarea-fullwidth-alt" placeholder="Add instructions for caretaker"></textarea>
                <br />
                <p class="content-inline">Notes</p>
                <textarea class="textarea-fullwidth-alt" placeholder="Add notes about your pet..."></textarea>
            </div><!-- close div form-line -->
            <div class="spacer-50"></div><!-- close div spacer-50 -->
            <div class="head-area" id="sharing">
                <p class="hard-title">Sharing</p>
            </div><!-- close div head-area -->
            <div class="spacer-25"></div><!-- close div spacer-25 -->
            <div class="form-line">
                <p class="content-inline add-title">Veterinarians</p>
                <a class="add-weight add-btns">ADD VETERINARIAN</a>
                <br />
                <div class="spacer-10"></div><!-- close div spacer-10 -->
                <p class="content-inline add-title">24-hour Emergency</p>
                <a class="book-now add-btns">ADD EMERGENCY VETERINARIAN</a>
                <br />
                <div class="spacer-10"></div><!-- close div spacer-10 -->
                <p class="content-inline add-title">Specialist Veteranarian</p>
                <a class="medical-tests add-btns">ADD SPECIALIST</a>
            </div><!-- close div form-line -->
            <div class="form-line">
                <div class="spacer-10"></div><!-- close div spacer-10 -->
                <p class="content-inline add-title">Boarding</p>
                <a class="condition add-btns">ADD FACILITY</a>
                <br />
                <div class="spacer-10"></div><!-- close div spacer-10 -->
                <p class="content-inline add-title">Day Camps</p>
                <a class="book-now add-btns">ADD CAMPS</a>
            </div><!-- close div form-line -->
            <div class="form-line">
                <div class="spacer-10"></div><!-- close div spacer-10 -->
                <p class="content-inline add-title">Grooming</p>
                <a class="book-now add-btns">ADD GROOMER</a>
            </div><!-- close div form-line -->
            <div class="form-line">
                <div class="spacer-10"></div><!-- close div spacer-10 -->
                <p class="content-inline add-title">Caregivers</p>
                <a class="book-now add-btns">ADD CAREGIVER</a>
            </div><!-- close div form-line -->
        <div class="spacer-100"></div><!-- close div spacer-100 -->
    </div><!-- close div main-content -->
</div><!-- close div container-10 -->

<!-- The following section calls each of the lightbox functions for the site -->

<script src="../../js/lightboxes/add-food.js"></script><!-- Calls the add-food function -->
<script src="../../js/lightboxes/add-license.js"></script><!-- Calls the add-license function -->
<script src="../../js/lightboxes/add-parent.js"></script><!-- Calls the add-parent function -->
<script src="../../js/lightboxes/add-temperament.js"></script><!-- Calls the add-temperament.js -->
<script src="../../js/lightboxes/book-now.js"></script><!-- Calls the book-now function -->
<script src="../../js/lightboxes/add-weight.js"></script><!-- Calls the add-weight function -->
<script src="../../js/lightboxes/add-condition.js"></script><!-- Calls add-condition function -->
<script src="../../js/lightboxes/medical-tests.js"></script><!-- Calls medical-tests function -->
<script src="../../js/lightboxes/emergency.js"></script><!-- Calls the emergency lightbox function -->
