<div class="container-10">
    <div class="white-box-social-container">
        <div class="white-box-social">
            <div class="spacer-25"></div><!-- close div spacer-25 -->
                <div class="row">
                    <div class="medium-12 columns">
                        <img class="prof-pic" src="../../../assets/img/pet-picture.png" />
                        <p class="hard-title" id="friend"><strong>Jordan Husted</strong></p>
                        <p class="content" style="text-align: center !important; padding-right: 0px !important;">Kansas City, MO</p>
                    </div><!-- close div medium-12 columns -->
                </div><!-- close div row -->
                <div class="spacer-100"></div><!-- close div spacer-100 -->
                <ul class="friend-nav">
                    <li class="friend-item">
                        <a class="green-text" href="#">Message</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Invite</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Request</a>
                    </li><!-- close li friend-item -->
                </ul><!-- close ul friend-nav -->
            <div class="spacer-10"></div><!-- close div spacer-10 -->
        </div><!-- close div white-box-social -->
    </div><!-- close div white-box-social-container -->
    <div class="white-box-social-container">
        <div class="white-box-social">
            <div class="spacer-25"></div><!-- close div spacer-25 -->
                <div class="row">
                    <div class="medium-12 columns">
                        <img class="prof-pic" src="../../../assets/img/pet-picture.png" />
                        <p class="hard-title" id="friend"><strong>Jordan Husted</strong></p>
                        <p class="content" style="text-align: center !important; padding-right: 0px !important;">Kansas City, MO</p>
                    </div><!-- close div medium-12 columns -->
                </div><!-- close div row -->
                <div class="spacer-100"></div><!-- close div spacer-100 -->
                <ul class="friend-nav">
                    <li class="friend-item">
                        <a class="green-text" href="#">Message</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Invite</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Request</a>
                    </li><!-- close li friend-item -->
                </ul><!-- close ul friend-nav -->
            <div class="spacer-10"></div><!-- close div spacer-10 -->
        </div><!-- close div white-box-social -->
    </div><!-- close div white-box-social-container -->
    <div class="white-box-social-container">
        <div class="white-box-social">
            <div class="spacer-25"></div><!-- close div spacer-25 -->
                <div class="row">
                    <div class="medium-12 columns">
                        <img class="prof-pic" src="../../../assets/img/pet-picture.png" />
                        <p class="hard-title" id="friend"><strong>Jordan Husted</strong></p>
                        <p class="content" style="text-align: center !important; padding-right: 0px !important;">Kansas City, MO</p>
                    </div><!-- close div medium-12 columns -->
                </div><!-- close div row -->
                <div class="spacer-100"></div><!-- close div spacer-100 -->
                <ul class="friend-nav">
                    <li class="friend-item">
                        <a class="green-text" href="#">Message</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Invite</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Request</a>
                    </li><!-- close li friend-item -->
                </ul><!-- close ul friend-nav -->
            <div class="spacer-10"></div><!-- close div spacer-10 -->
        </div><!-- close div white-box-social -->
    </div><!-- close div white-box-social-container -->
    <div class="white-box-social-container">
        <div class="white-box-social">
            <div class="spacer-25"></div><!-- close div spacer-25 -->
                <div class="row">
                    <div class="medium-12 columns">
                        <img class="prof-pic" src="../../../assets/img/pet-picture.png" />
                        <p class="hard-title" id="friend"><strong>Jordan Husted</strong></p>
                        <p class="content" style="text-align: center !important; padding-right: 0px !important;">Kansas City, MO</p>
                    </div><!-- close div medium-12 columns -->
                </div><!-- close div row -->
                <div class="spacer-100"></div><!-- close div spacer-100 -->
                <ul class="friend-nav">
                    <li class="friend-item">
                        <a class="green-text" href="#">Message</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Invite</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Request</a>
                    </li><!-- close li friend-item -->
                </ul><!-- close ul friend-nav -->
            <div class="spacer-10"></div><!-- close div spacer-10 -->
        </div><!-- close div white-box-social -->
    </div><!-- close div white-box-social-container -->
    <div class="white-box-social-container">
        <div class="white-box-social">
            <div class="spacer-25"></div><!-- close div spacer-25 -->
                <div class="row">
                    <div class="medium-12 columns">
                        <img class="prof-pic" src="../../../assets/img/pet-picture.png" />
                        <p class="hard-title" id="friend"><strong>Jordan Husted</strong></p>
                        <p class="content" style="text-align: center !important; padding-right: 0px !important;">Kansas City, MO</p>
                    </div><!-- close div medium-12 columns -->
                </div><!-- close div row -->
                <div class="spacer-100"></div><!-- close div spacer-100 -->
                <ul class="friend-nav">
                    <li class="friend-item">
                        <a class="green-text" href="#">Message</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Invite</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Request</a>
                    </li><!-- close li friend-item -->
                </ul><!-- close ul friend-nav -->
            <div class="spacer-10"></div><!-- close div spacer-10 -->
        </div><!-- close div white-box-social -->
    </div><!-- close div white-box-social-container -->
    <div class="white-box-social-container">
        <div class="white-box-social">
            <div class="spacer-25"></div><!-- close div spacer-25 -->
                <div class="row">
                    <div class="medium-12 columns">
                        <img class="prof-pic" src="../../../assets/img/pet-picture.png" />
                        <p class="hard-title" id="friend"><strong>Jordan Husted</strong></p>
                        <p class="content" style="text-align: center !important; padding-right: 0px !important;">Kansas City, MO</p>
                    </div><!-- close div medium-12 columns -->
                </div><!-- close div row -->
                <div class="spacer-100"></div><!-- close div spacer-100 -->
                <ul class="friend-nav">
                    <li class="friend-item">
                        <a class="green-text" href="#">Message</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Invite</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Request</a>
                    </li><!-- close li friend-item -->
                </ul><!-- close ul friend-nav -->
            <div class="spacer-10"></div><!-- close div spacer-10 -->
        </div><!-- close div white-box-social -->
    </div><!-- close div white-box-social-container -->
    <div class="white-box-social-container">
        <div class="white-box-social">
            <div class="spacer-25"></div><!-- close div spacer-25 -->
                <div class="row">
                    <div class="medium-12 columns">
                        <img class="prof-pic" src="../../../assets/img/pet-picture.png" />
                        <p class="hard-title" id="friend"><strong>Jordan Husted</strong></p>
                        <p class="content" style="text-align: center !important; padding-right: 0px !important;">Kansas City, MO</p>
                    </div><!-- close div medium-12 columns -->
                </div><!-- close div row -->
                <div class="spacer-100"></div><!-- close div spacer-100 -->
                <ul class="friend-nav">
                    <li class="friend-item">
                        <a class="green-text" href="#">Message</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Invite</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Request</a>
                    </li><!-- close li friend-item -->
                </ul><!-- close ul friend-nav -->
            <div class="spacer-10"></div><!-- close div spacer-10 -->
        </div><!-- close div white-box-social -->
    </div><!-- close div white-box-social-container -->
    <div class="white-box-social-container">
        <div class="white-box-social">
            <div class="spacer-25"></div><!-- close div spacer-25 -->
                <div class="row">
                    <div class="medium-12 columns">
                        <img class="prof-pic" src="../../../assets/img/pet-picture.png" />
                        <p class="hard-title" id="friend"><strong>Jordan Husted</strong></p>
                        <p class="content" style="text-align: center !important; padding-right: 0px !important;">Kansas City, MO</p>
                    </div><!-- close div medium-12 columns -->
                </div><!-- close div row -->
                <div class="spacer-100"></div><!-- close div spacer-100 -->
                <ul class="friend-nav">
                    <li class="friend-item">
                        <a class="green-text" href="#">Message</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Invite</a>
                    </li><!-- close li friend-item -->
                    <li class="friend-item">
                        <a class="green-text" href="#">Request</a>
                    </li><!-- close li friend-item -->
                </ul><!-- close ul friend-nav -->
            <div class="spacer-10"></div><!-- close div spacer-10 -->
        </div><!-- close div white-box-social -->
    </div><!-- close div white-box-social-container -->
</div><!-- close div container-10 -->
