<div class="row">
    <div class="medium-12 columns">
        <div class="box-title">
            <p class="soft-title-big">Animal Profiles</p>
        </div><!-- close div box-title -->
        <div class="white-box">
            <div class="container-10">
                <div class="drop-down">
                    <div class="drop-box">
                        <div class="dropdown">
                            <button class="dropbtn" style="padding-left: 0px !important;">
                                <p class="soft-title-big" style="display: inline-block !important; font-weight: 400 !important;">Dogs (8)</p>
                                <div class="select-arrow"></div>
                            </button>
                            <div class="dropdown-content dropdown-one" style="left: 0 !important; top: 20px; min-width: 450px; min-height: 300px;">
                                <div class="container-10">
                                    <form>
                                        <input type="text" name="search" class="search-box-small" placeholder="&#xf002; Search by name or species">
                                    </form>
                                </div><!-- close div container-10 -->
                                <hr style="margin: 0px !important;"/>
                                <div class="white-side-drop">
                                    <div class="container-10">
                                        <p class="soft-title">Species</p>
                                        <p class="hard-title" style="display: inline-block !important; line-height: 30px !important; font-size: 14px !important; cursor: pointer;">Dog</p><p class="hard-title" style="display: inline-block !important; line-height: 30px !important; font-size: 14px !important; cursor: pointer; color: #6fab7d !important;"><strong class="caret"  style="padding-left: 140px;"> > </strong></p>
                                        <p class="hard-title" style="display: block !important; line-height: 30px !important; font-size: 14px !important; cursor: pointer;">Cat</p>
                                    </div><!-- close div container-10 -->
                                </div><!-- close div white-side-drop -->
                                <div class="grey-side">
                                    <div class="container-10">
                                        <p class="soft-title">Name</p>
                                        <p class="hard-title" style="display: block !important; line-height: 30px !important; font-size: 14px !important; cursor: pointer;">Aurora</p>
                                        <p class="hard-title" style="display: block !important; line-height: 30px !important; font-size: 14px !important; cursor: pointer;">Titus</p>
                                    </div><!-- close div container-10 -->
                                </div><!-- close div grey-side -->
                            </div><!-- close div dropdown-content -->
                        </div><!-- close div dropdown -->
                    </div><!-- close div drop-box -->
                </div><!-- close div drop-down -->
            </div><!-- close div container-10 -->
            <div class="spacer-25"></div><!-- close div spacer-25 -->
            <div class="area-contain">
            <hr />
            <div class="container-10">
                <div class="row" style="padding-left: 20px !important;">
                    <div class="medium-1 columns">
                        <img src="../../assets/img/check-box.png" />
                    </div><!-- close div medium-1 columns -->
                    <div class="medium-3 columns">
                        <p class="content"><strong>Name and Breed</strong></p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-3 columns">
                        <p class="content"><strong>Birthday</strong></p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-3 columns">
                        <p class="content"><strong>Access</strong></p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-2 columns">

                    </div><!-- close div medium-2 columns -->
                </div><!-- close div row -->
            </div><!-- close div container-10 -->
        </div><!-- close div area-contain -->
            <hr />
            <div class="container-10">
                <div class="row" style="padding-left: 20px !important;">
                    <div class="medium-1 columns">
                        <img src="../../assets/img/check-box.png" />
                    </div><!-- close div medium-1 columns -->
                    <div class="medium-3 columns">
                        <p class="content"><strong>Aurora Large</strong><br />German Shepherd Mix</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-3 columns">
                        <p class="content">August 1, 2013<br />3 years, 11 months</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-3 columns">
                        <p class="content" style="color: #69b37d;">Primary Guardian</p>
                    </div><!-- close div medium-3 columns -->
                    <div class="medium-2 columns" id="home-icons" style="padding: 0px !important;">
                        <ul class="homenav">
                            <li class="homenav-item">
                                <a href="#"><div class="logo"></div></a>
                            </li>
                            <li class="homenav-item">
                                <a href="#"><div class="menus"></div></a>
                            </li><!-- close div topnav-item -->
                        </ul><!-- close ul top-nav -->
                    </div><!-- close div medium-2 columns -->
                </div><!-- close div row -->
            </div><!-- close div container-10 -->
            <hr />
            <div class="row">
                <div class="spacer-10"></div><!-- close div spacer-10 -->
                <div class="medium-12 columns">
                    <a href="#"><p class="content" style="float: right; padding-right: 75px;">1 of 1 <i class="fa fa-caret-down" style="padding-left: 25px;" aria-hidden="true"></i></p></a>
                </div><!-- close div medium-12 columns -->
            </div><!-- close div row -->
            <div data-include="lightboxes/add-food"></div>
            <div class="spacer-25"></div>
        </div><!-- close div white-box -->
    </div><!-- close div medium-12 columns -->
</div><!-- close div row -->
